/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.root,
#root,
#docs-root {
  --1st-color: #ace5ff;
  --2nd-color: #46b3e6;
  --3rd-color: #4d80e4;
}
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
